@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("../fonts/pretandard/woff2/Pretendard-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("../fonts/pretandard/woff2/Pretendard-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("../fonts/pretandard/woff2/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("../fonts/pretandard/woff2/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("../fonts/pretandard/woff2/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("../fonts/pretandard/woff2/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("../fonts/pretandard/woff2/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("../fonts/pretandard/woff2/Pretendard-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("../fonts/pretandard/woff2/Pretendard-Thin.woff2") format("woff2");
}

:root {
  --md-text-font: "Pretendard";
  --md-primary-bg-color: #e9e9e9;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #003e48;
  --md-accent-fg-color: #12b452;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #c880f5;
  --md-accent-fg-color: #ef40d8;
}
